h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

table {
  margin: auto;
}

input { 
  font-family: "ＭＳ Ｐゴシック", sans-serif;
  font-weight:600; 
  font-size:x-large; } 

  table {
  text-align: right;
}
